{% extends 'main.html' %}
{% block content %}
{% load static %}
	<div class="det_user">
		<div class="det_img-content">
			<img src="{% static 'assets/img_avatar3.png' %}" alt="">
		</div>
		<div class="det_user-info">
			<a href="{%url 'update_contact' contact.id%}">Редактировать</a>
			<div class="det_user-text">
				<div class="det_user-name">
					<p>Имя/Фамалия</p>
					<h1>{{contact.name}} {{contact.surname}}</h1>
				</div>
				<div class="det_user-date">
					<p>Дата</p>
					<h4>{{contact.date}}</p>
				</div>
				<div class="det_user-tel">
					<p>Телефон номер</p>
					<h4>{{contact.tel_number}}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}