{% extends 'main.html' %}
{% block content %}
{% load static %}
	<link rel="stylesheet" href="{% static 'css/create_contact.css' %}">
	<div class="container">
		<div class="element">
			<h1>Update contact</h1>
			<form action="." method="POST">
				{%csrf_token%}
				<p>Name</p>
				{{form.name}}
				<p>Surname</p>
				{{form.surname}}
				<p>Date</p>
				{{form.date}}
				<p>Telefon number</p>
				{{form.tel_number}}
				<div class="button">
					<input type="submit" value="send">
				</div>
			</form>
		</div>
	</div>
{% endblock content %}