{% extends 'main.html' %}
{% block content %}
  <header>
    <div class="logo">
      <h2>Список контактов</h2>
    </div>
  </header>
  <div class="item">
    <div class="item-content">
      <div class="buttons">
      <a href="create_user/">Добавить нового пользователя</a>
    </div>
    <div class="search-content">
      <form action="{% url 'user_list' %}">
          <div class="input">
            <input 
              type="text"
              placeholder="Введите имя или номер человека"
              name="search_user"
              value="{{ search_user }}"
            >
            <a href="/">сброс</a>
            </div>
            <input type="submit" value="Найти">
          </form>
        </div>
      </div>
    </div>
    
	<div class="content">
		{%for user in users%}
	   <div class="center">
  		<div class="property-card">
  			 <a href="{% url 'contact_details' user.id %}">
            <div class="property-image">
              <div class="property-image-title">
              </div>
            </div>
          </a>
    		  <div class="property-description">
      			<h5>{{user.surname}}</h5>
      			<h5>{{user.name}}</h5>
    		  </div>
    		  <a href="{%url 'delete_contact' user.id%}">
      			<div class="property-social-icons">
      				удалить
      			</div>
    		  </a>
  		</div>
	 </div>
	{%endfor%}
	</div>
{% endblock content %}