@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
body{
	font-family: 'Blinker', sans-serif;
}
.user{
	padding: 5px;
	display: flex;
}
.user-info{
	width: 30%;
	text-align: end;
	margin-left: 10px;
}
.user-info a{
	text-decoration: none;
	background: green;
	color: #fff;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
}
.user-text {
	text-align: start;
}
.user-text p{
	margin: 0;
	color: gray;
}
.user-text h4{
	margin: 5px 0;
}
.user-name h1{
	margin: 0;
}