@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
body{
	font-family: 'Blinker', sans-serif;
}
.container{
	display: grid;
}
.element{
	width: 25%;
	justify-self: center;
	align-self: center;
	background: lightblue;
	padding: 25px;
	border-radius: 10px;
	text-align: center;
}
.button{
	margin: 25px 0 10px 0;
}
.button input{
	color: #fff;
	background: red;
	outline: none;
	font-size: 18px;
	border: none;
	padding: 10px 30px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 10px;
	margin: 5px 10px;
}
.button input:hover{
	cursor: pointer;
}
.button a{
	text-decoration: none;
	color: #fff;
	background: green;
	outline: none;
	font-size: 18px;
	border: none;
	padding: 10px 30px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 10px;
	margin: 5px 10px;
}