@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
body
{
  margin: 0;
  padding: 0;
  background-color:#f2f2f2;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:12px;
}

header
{
  text-align: center;
  background: lightblue
}

.logo h2{
  margin: 0;
  padding: 20px;
}
.item{
  border: 1px solid #000;
}

.item-content{
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.buttons{
  width: 8%;
  padding: 10px;
  text-align: center;
  background: green;
  border-radius: 10px;
}
.buttons a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.search-content form{
  display: flex;
  width: 100%;
}

.search-content input{
  margin: 8px 0;
  outline: none;
}
.search-content input[type="text"]{
  width: 100%;
  background: none;
  padding: 10px 5px;
  border: none;
}
.search-content input[type="submit"]{
  padding: 10px 35px;
  background: lightblue;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.content{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 25px auto;
  font-family: 'Blinker', sans-serif;
}

.center
{
  margin: 25px;
  display: flex;
}


.property-card
{
  height:18em;
  width:16em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.property-image
{
  height:6em;
  width:16em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('https://html5css.ru/w3css/img_avatar3.png');
  background-size:cover;
  background-repeat:no-repeat;
}



.property-description
{
  background-color: #FAFAFC;
  height:12em;
  width:16em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}


.property-social-icons
{
  padding: 5px;
  color: white;
  background-color:black;
  position:absolute;
  bottom:1em;
  left:1em;
  border-radius: 5px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}



.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color: red;
  cursor:pointer;
}
.input {
  width: 315px;
  margin-right: 25px;
  display: flex;
  border: 1px solid #000;
  border-radius: 10px;
}
.input a{
  color: #fff;
  margin: 10px 5px;
  padding: 5px;
  background: green;
  text-decoration: none;
  border-radius: 5px;
}


/* update_block */
.update_element input[type="text"]{
	border: none;
	border-bottom:1px solid #000;
	outline: none;
	background: none;
	width: 100%;
}
.update_container{
	display: grid;
}
.update_element{
	width: 25%;
	justify-self: center;
	align-self: center;
	background: lightblue;
	padding: 25px;
	border-radius: 10px;
}
.update_element h1{
	text-align: center;
}
.update_button{
	text-align: center;
}
.update_button input{
	width: 25%;
	margin: 25px 0 10px 0;
	text-transform: uppercase;
	background: green;
	border: none;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	border-radius: 10px;
}
.update_button input:hover{
	cursor: pointer;
}

/* delete_block */
.delete_container{
	display: grid;
}
.delete_element{
	width: 25%;
	justify-self: center;
	align-self: center;
	background: lightblue;
	padding: 25px;
	border-radius: 10px;
	text-align: center;
}
.delete_button{
	margin: 25px 0 10px 0;
}
.delete_button input{
	color: #fff;
	background: red;
	outline: none;
	font-size: 18px;
	border: none;
	padding: 10px 30px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 10px;
	margin: 5px 10px;
}
.delete_button input:hover{
	cursor: pointer;
}
.delete_button a{
	text-decoration: none;
	color: #fff;
	background: green;
	outline: none;
	font-size: 18px;
	border: none;
	padding: 10px 30px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 10px;
	margin: 5px 10px;
}

/* create_block */
.create_element input[type="text"]{
	border: none;
	border-bottom:1px solid #000;
	outline: none;
	background: none;
	width: 100%;
}
.create_container{
	display: grid;
}
.create_element{
	width: 25%;
	justify-self: center;
	align-self: center;
	background: lightblue;
	padding: 25px;
	border-radius: 10px;
}
.create_element h1{
	text-align: center;
}
.create_element h5{
	color: red;
}
.create_button{
	text-align: center;
}
.create_button input{
	width: 30%;
	margin: 25px 0 10px 0;
	text-transform: uppercase;
	background: green;
	border: none;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	border-radius: 10px;
	outline: none;
}
.create_button input:hover{
	cursor: pointer;
}

/* contact_details_block */
.det_user{
	padding: 5px;
	display: flex;
}
.det_user-info{
	width: 30%;
	text-align: end;
	margin-left: 10px;
}
.det_user-info a{
	text-decoration: none;
	background: green;
	color: #fff;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
}
.det_user-text {
	text-align: start;
}
.det_user-text p{
	margin: 0;
	color: gray;
}
.det_user-text h4{
	margin: 5px 0;
}
.det_user-name h1{
	margin: 0;
}