@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
body{
	font-family: 'Blinker', sans-serif;
}
input[type="text"]{
	border: none;
	border-bottom:1px solid #000;
	outline: none;
	background: none;
	width: 100%;
}
.container{
	display: grid;
}
.element{
	width: 25%;
	justify-self: center;
	align-self: center;
	background: lightblue;
	padding: 25px;
	border-radius: 10px;
}
.element h1{
	text-align: center;
}
.button{
	text-align: center;
}
.button input{
	width: 25%;
	margin: 25px 0 10px 0;
	text-transform: uppercase;
	background: green;
	border: none;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	border-radius: 10px;
}
.button input:hover{
	cursor: pointer;
}